* {
    /* border:0.5px solid; */
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container {
    width:800px;
}
.container-ground{

}
.line {
    height: 600px;
    width: 0px;
    border-right: 3px solid black;
    margin : 100px 0 0 400px
}

.ball-container{
    position: relative;
    top: 100px;
    left:450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    /* transition: all 1s ease-in; */
}
.ball{
    position: relative;
    min-height: 70px;
    min-width: 70px;
    border: 1px solid black;
    border-radius : 70px;
    /* transition: 0.01s; */
}
/* .movement {
    animation-name: movement;
    animation-duration: 4s;
    animation-fill-mode: forwards;
} */

.top{
    top: 600px;
}
.ground{
    width: 100%;
    border-top: 3px solid black;
}

.button{
    margin: 5px;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* @keyframes movement{
    0%{
        animation-timing-function: ease-in;
    }
    25% {
        transform: translateY(600px);
        animation-timing-function: ease-out;
    }
    50%{
        transform: translateY(400px);
        animation-timing-function: ease-in;
    }
    65%{
        transform: translateY(600px);
        animation-timing-function: ease-out;
    }
    90%{
        transform: translateY(500px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(600px);
    }
} */
